<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548876363435-kots3uhqjsnhsqvd62qpcbtu1ma1d5kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548876363435-kots3uhqjsnhsqvd62qpcbtu1ma1d5kg</string>
	<key>API_KEY</key>
	<string>AIzaSyCajZE8_ZaDnari-SBc1-SGKaerewsHT0M</string>
	<key>GCM_SENDER_ID</key>
	<string>548876363435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ytel.ytel</string>
	<key>PROJECT_ID</key>
	<string>ytel-64160</string>
	<key>STORAGE_BUCKET</key>
	<string>ytel-64160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548876363435:ios:c3cbe5677daef471fe79ee</string>
</dict>
</plist>